Repository rotteneggs/portal-2.0-nvgpmg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @backend-team, @frontend-team, @database-team, @docs-team, @ai-team, @integration-team, @security-team, @workflow-team

.github/CODEOWNERS:

#
# This file defines code ownership and automatically assigns reviewers for pull requests
# based on the files being changed. This ensures that the right team members review code
# in their areas of expertise.
#
# For more information, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Root files
# Project leads are responsible for reviewing changes to root-level files
/* @project-leads

# GitHub Workflows and Templates
# DevOps team is responsible for CI/CD workflows and GitHub templates
/.github/ @devops-team

# Backend Code
# Backend team is responsible for Laravel application code
/src/backend/ @backend-team

# Frontend Code
# Frontend team is responsible for React application code
/src/web/ @frontend-team

# Database Migrations
# Database team and backend team jointly review database migrations
/src/backend/database/migrations/ @database-team @backend-team

# Infrastructure Code
# DevOps team is responsible for infrastructure code including Terraform and Kubernetes configurations
/infrastructure/ @devops-team

# Documentation
# Documentation team is responsible for all documentation files
/docs/ @docs-team

# AI Components
# AI team and backend team jointly review AI service components
/src/backend/app/Services/AI/ @ai-team @backend-team

# Integration Services
# Integration team and backend team jointly review integration services
/src/backend/app/Services/Integration/ @integration-team @backend-team

# Security-related Code
# Security team and backend team jointly review security-related middleware
/src/backend/app/Http/Middleware/ @security-team @backend-team

# Testing Code
# QA team is responsible for reviewing test files across the codebase
**/*.test.* **/*.spec.* **/tests/ @qa-team

# Workflow Editor Components
# Frontend team and workflow team jointly review the WYSIWYG workflow editor components
/src/web/src/components/WorkflowEditor/ @frontend-team @workflow-team

# Payment Processing
# Payment team is responsible for reviewing all payment-related code
**/Payment*.* **/payment*.* @payment-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/ecs/main.tf
  infrastructure/terraform/modules/ecs/main.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/ecs/outputs.tf
  infrastructure/terraform/modules/ecs/outputs.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/ecs/variables.tf
  infrastructure/terraform/modules/ecs/variables.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/scripts/setup-dev-environment.sh
  scripts/setup-dev-environment.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/scripts/database/backup.sh
  scripts/database/backup.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/scripts/database/restore.sh
  scripts/database/restore.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/scripts/database/seed-test-data.sh
  scripts/database/seed-test-data.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/scripts/deployment/build-images.sh
  scripts/deployment/build-images.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/scripts/deployment/deploy-production.sh
  scripts/deployment/deploy-production.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/scripts/deployment/deploy-staging.sh
  scripts/deployment/deploy-staging.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/scripts/monitoring/check-system-health.sh
  scripts/monitoring/check-system-health.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/scripts/monitoring/generate-performance-report.sh
  scripts/monitoring/generate-performance-report.sh
Owners: none

Add public-samples/portal-2.0-nvgpmg/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/composer.json
  src/backend/composer.json
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/phpunit.xml
  src/backend/phpunit.xml
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/server.php
  src/backend/server.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/webpack.mix.js
  src/backend/webpack.mix.js
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Console/Commands/CleanupTempFiles.php
  src/backend/app/Console/Commands/CleanupTempFiles.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Console/Commands/GenerateSitemap.php
  src/backend/app/Console/Commands/GenerateSitemap.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Console/Commands/SendReminderNotifications.php
  src/backend/app/Console/Commands/SendReminderNotifications.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Console/Commands/SyncExternalSystems.php
  src/backend/app/Console/Commands/SyncExternalSystems.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Events/ApplicationStatusChangedEvent.php
  src/backend/app/Events/ApplicationStatusChangedEvent.php
Owners: @backend-team
