Repository rotteneggs/portal-2.0-nvgpmg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @backend-team, @frontend-team, @database-team, @docs-team, @ai-team, @integration-team, @security-team, @workflow-team

.github/CODEOWNERS:

#
# This file defines code ownership and automatically assigns reviewers for pull requests
# based on the files being changed. This ensures that the right team members review code
# in their areas of expertise.
#
# For more information, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Root files
# Project leads are responsible for reviewing changes to root-level files
/* @project-leads

# GitHub Workflows and Templates
# DevOps team is responsible for CI/CD workflows and GitHub templates
/.github/ @devops-team

# Backend Code
# Backend team is responsible for Laravel application code
/src/backend/ @backend-team

# Frontend Code
# Frontend team is responsible for React application code
/src/web/ @frontend-team

# Database Migrations
# Database team and backend team jointly review database migrations
/src/backend/database/migrations/ @database-team @backend-team

# Infrastructure Code
# DevOps team is responsible for infrastructure code including Terraform and Kubernetes configurations
/infrastructure/ @devops-team

# Documentation
# Documentation team is responsible for all documentation files
/docs/ @docs-team

# AI Components
# AI team and backend team jointly review AI service components
/src/backend/app/Services/AI/ @ai-team @backend-team

# Integration Services
# Integration team and backend team jointly review integration services
/src/backend/app/Services/Integration/ @integration-team @backend-team

# Security-related Code
# Security team and backend team jointly review security-related middleware
/src/backend/app/Http/Middleware/ @security-team @backend-team

# Testing Code
# QA team is responsible for reviewing test files across the codebase
**/*.test.* **/*.spec.* **/tests/ @qa-team

# Workflow Editor Components
# Frontend team and workflow team jointly review the WYSIWYG workflow editor components
/src/web/src/components/WorkflowEditor/ @frontend-team @workflow-team

# Payment Processing
# Payment team is responsible for reviewing all payment-related code
**/Payment*.* **/payment*.* @payment-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Models/Workflow.php
  src/backend/app/Models/Workflow.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Models/WorkflowStage.php
  src/backend/app/Models/WorkflowStage.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Models/WorkflowTransition.php
  src/backend/app/Models/WorkflowTransition.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Providers/AIServiceProvider.php
  src/backend/app/Providers/AIServiceProvider.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Providers/AppServiceProvider.php
  src/backend/app/Providers/AppServiceProvider.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Providers/AuthServiceProvider.php
  src/backend/app/Providers/AuthServiceProvider.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Providers/EventServiceProvider.php
  src/backend/app/Providers/EventServiceProvider.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Providers/IntegrationServiceProvider.php
  src/backend/app/Providers/IntegrationServiceProvider.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Providers/RouteServiceProvider.php
  src/backend/app/Providers/RouteServiceProvider.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/ApplicationService.php
  src/backend/app/Services/ApplicationService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/AuditService.php
  src/backend/app/Services/AuditService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/AuthService.php
  src/backend/app/Services/AuthService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/DocumentService.php
  src/backend/app/Services/DocumentService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/DocumentVerificationService.php
  src/backend/app/Services/DocumentVerificationService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/FinancialAidService.php
  src/backend/app/Services/FinancialAidService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/MessageService.php
  src/backend/app/Services/MessageService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/NotificationService.php
  src/backend/app/Services/NotificationService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/PaymentService.php
  src/backend/app/Services/PaymentService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/StorageService.php
  src/backend/app/Services/StorageService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/UserService.php
  src/backend/app/Services/UserService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/WorkflowEngineService.php
  src/backend/app/Services/WorkflowEngineService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/WorkflowService.php
  src/backend/app/Services/WorkflowService.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/AI/ChatbotService.php
  src/backend/app/Services/AI/ChatbotService.php
Owners: @ai-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/AI/DocumentAnalysisService.php
  src/backend/app/Services/AI/DocumentAnalysisService.php
Owners: @ai-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/AI/FraudDetectionService.php
  src/backend/app/Services/AI/FraudDetectionService.php
Owners: @ai-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/AI/RecommendationService.php
  src/backend/app/Services/AI/RecommendationService.php
Owners: @ai-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/Integration/EmailService.php
  src/backend/app/Services/Integration/EmailService.php
Owners: @integration-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/Integration/ExternalDocumentVerificationService.php
  src/backend/app/Services/Integration/ExternalDocumentVerificationService.php
Owners: @integration-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/Integration/LMSIntegrationService.php
  src/backend/app/Services/Integration/LMSIntegrationService.php
Owners: @integration-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/Integration/PaymentGatewayService.php
  src/backend/app/Services/Integration/PaymentGatewayService.php
Owners: @integration-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/Integration/SISIntegrationService.php
  src/backend/app/Services/Integration/SISIntegrationService.php
Owners: @integration-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/app/Services/Integration/SMSService.php
  src/backend/app/Services/Integration/SMSService.php
Owners: @integration-team, @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/bootstrap/app.php
  src/backend/bootstrap/app.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/bootstrap/cache/.gitignore
  src/backend/bootstrap/cache/.gitignore
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/config/ai.php
  src/backend/config/ai.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/config/app.php
  src/backend/config/app.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/config/auth.php
  src/backend/config/auth.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/config/cache.php
  src/backend/config/cache.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/config/cors.php
  src/backend/config/cors.php
Owners: @backend-team

Add public-samples/portal-2.0-nvgpmg/src/backend/config/database.php
  src/backend/config/database.php
Owners: @backend-team
