Repository rotteneggs/portal-2.0-nvgpmg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @devops-team, @backend-team, @frontend-team, @database-team, @docs-team, @ai-team, @integration-team, @security-team, @workflow-team

Add public-samples/portal-2.0-nvgpmg/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/SECURITY.md
  .github/SECURITY.md
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.md
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team

Add public-samples/portal-2.0-nvgpmg/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: none

Add public-samples/portal-2.0-nvgpmg/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: none

Add public-samples/portal-2.0-nvgpmg/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: none

Add public-samples/portal-2.0-nvgpmg/docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/api/applications.md
  docs/api/applications.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/api/authentication.md
  docs/api/authentication.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/api/documents.md
  docs/api/documents.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/api/messaging.md
  docs/api/messaging.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/api/openapi.yaml
  docs/api/openapi.yaml
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/api/overview.md
  docs/api/overview.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/api/payments.md
  docs/api/payments.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/api/workflows.md
  docs/api/workflows.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/architecture/backend.md
  docs/architecture/backend.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/architecture/database-schema.md
  docs/architecture/database-schema.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/architecture/frontend.md
  docs/architecture/frontend.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/architecture/integration-points.md
  docs/architecture/integration-points.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/architecture/overview.md
  docs/architecture/overview.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/architecture/workflows.md
  docs/architecture/workflows.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/development/debugging.md
  docs/development/debugging.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/development/deployment.md
  docs/development/deployment.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/development/getting-started.md
  docs/development/getting-started.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/development/testing.md
  docs/development/testing.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/user-guides/admin-guide.md
  docs/user-guides/admin-guide.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/user-guides/reporting-guide.md
  docs/user-guides/reporting-guide.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/user-guides/student-guide.md
  docs/user-guides/student-guide.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/docs/user-guides/workflow-editor-guide.md
  docs/user-guides/workflow-editor-guide.md
Owners: @docs-team

Add public-samples/portal-2.0-nvgpmg/infrastructure/docker/docker-compose.dev.yml
  infrastructure/docker/docker-compose.dev.yml
Owners: @devops-team

.github/CODEOWNERS:

#
# This file defines code ownership and automatically assigns reviewers for pull requests
# based on the files being changed. This ensures that the right team members review code
# in their areas of expertise.
#
# For more information, see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Root files
# Project leads are responsible for reviewing changes to root-level files
/* @project-leads

# GitHub Workflows and Templates
# DevOps team is responsible for CI/CD workflows and GitHub templates
/.github/ @devops-team

# Backend Code
# Backend team is responsible for Laravel application code
/src/backend/ @backend-team

# Frontend Code
# Frontend team is responsible for React application code
/src/web/ @frontend-team

# Database Migrations
# Database team and backend team jointly review database migrations
/src/backend/database/migrations/ @database-team @backend-team

# Infrastructure Code
# DevOps team is responsible for infrastructure code including Terraform and Kubernetes configurations
/infrastructure/ @devops-team

# Documentation
# Documentation team is responsible for all documentation files
/docs/ @docs-team

# AI Components
# AI team and backend team jointly review AI service components
/src/backend/app/Services/AI/ @ai-team @backend-team

# Integration Services
# Integration team and backend team jointly review integration services
/src/backend/app/Services/Integration/ @integration-team @backend-team

# Security-related Code
# Security team and backend team jointly review security-related middleware
/src/backend/app/Http/Middleware/ @security-team @backend-team

# Testing Code
# QA team is responsible for reviewing test files across the codebase
**/*.test.* **/*.spec.* **/tests/ @qa-team

# Workflow Editor Components
# Frontend team and workflow team jointly review the WYSIWYG workflow editor components
/src/web/src/components/WorkflowEditor/ @frontend-team @workflow-team

# Payment Processing
# Payment team is responsible for reviewing all payment-related code
**/Payment*.* **/payment*.* @payment-team
